<div class="container">
  <%= simple_form_for(gnome) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price, as: :integer %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
