<br>
<div class="container profil">

  <h2 id="hello-user"><%= "Hello #{current_user.first_name} #{current_user.last_name} !"%></h2>
  <br>
  <h3><%= "You have #{current_user.gnomes.count} gnomes for rent right now !" %></h3>

  <% if current_user.gnomes.count == 0 %>
    <br>
    <div class="gif">
      <%= image_tag"gnome-piss.gif", :class => "gif-piss" %>
    </div>

    <h5>What are you waiting for ? Go check our last cursed garden gnomes ! </h5>
    <%= link_to "Check The Gnomes", gnomes_path, class: "btn btn-dark" %>

  <% else %>
    <% current_user.gnomes.each do |gnome| %>
    <div class="show-container">
        <%= cl_image_tag gnome.photo.key, height: 216, width: 296, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= gnome.name %></h2>
        <p><%= gnome.description %></p>
        <p><%= gnome.price %> €</p>
        <%= link_to "Edit #{gnome.name}", edit_gnome_path(gnome), class: "btn btn-success text-white rounded-4" %>

        <%= link_to "Delete #{gnome.name}",
                    gnome_path(gnome),
                    method: :delete,
                    class: "btn btn-danger text-white rounded-4",
                    data: { confirm: "Are you sure?" } %>
      </div>
    </div>
    <% end %>
  <% end %>

</div>
